
@{
    ViewData["Title"] = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>1- Profilim</p>
<p>2- Tüm başlıklarda paging</p>
<p>3- Mesajlarda session yapılmadı</p>
<p>4- Oturum yönetiminin mimariye taşınması (Ben yaptım)</p>
<p>5- Token Kullanımı</p>
<p>6- Çıkış yapma işlemi (yapıldı)</p>
<p>7- Writer Girişinde ben robot değilim ekle </p>

