@{
    ViewData["Title"] = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

~Yapılacaklar Listesi~ <br /><br />

<p><del>1- Profilim</del></p>
<p><del>2- Tüm başlıklarda paging</del></p>
<p><del>3- Mesajlarda session yapılmadı</del></p>
<p><del>4- Oturum yönetiminin mimariye taşınması (Ben Yaptım)</del></p>
<p><del>5- Çıkış yapma işlemi</del> </p>
<p>6- Writer Girişinde ben robot değilim ekle </p>

~Admin Yapılacaklar Listesi~
<br />
<br />

<p><del>1- Başlıklarda arama kutucuğu</del></p>
<p>2- Yazar görselleri düzenlenecek</p>
<p>3- Grafikler </p>
<p>4- Gelen kutsunda arama</p>
<p>5- Yetkilendirmeler</p>
<p>7- Hata sayfası layouttan ayrılacak (Hata sayfası Eklenecek)</p>
<p>8- Sözlük ve vitrin ayrılacak</p>
<p>9- Proje dosyaları sunucuya taşınacak</p>
<p>10- Alan Adı alınacak</p>
<p>11- Proje canlıya alınacak</p>


