@{
    ViewData["Title"] = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

~Yapılacaklar Listesi~ <br /><br />

<p><del>1- Profilim</del></p>
<p><del>2- Tüm başlıklarda paging</del></p>
<p><del>3- Mesajlarda session yapılmadı</del></p>
<p><del>4- Oturum yönetiminin mimariye taşınması (Ben Yaptım)</del></p>
<p><del>5- Çıkış yapma işlemi</del> </p>
<p>6- Writer Girişinde ben robot değilim ekle </p>