@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core

@using EntityLayer.Concrete
@model X.PagedList.IPagedList<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@await Html.PartialAsync("AboutPartial")

<!-- /.col -->
<div class="col-md-12 col-lg-12 col-sm-12"> 

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Hakkımda Veri Listesi</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Hakkımda Başlık</th>
                        <th>Hakkımda İçerik</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var about in Model){
                        <tr>
                            <td>@about.AboutId</td>
                            <td>Başlık</td>
                            <td>@about.AboutDetails1</td>
                            <td>
                                <button class="btn btn-success btn-sm">Aktif Yap</button> | 
                                <button class="btn btn-danger btn-sm">Pasif Yap</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
<!-- Pagination -->
<div class="pagination-container">
    @Html.PagedListPager((IPagedList)Model,
            page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
            {
                UlElementClasses = new List<string> { "pagination", "justify-content-center" },
                LiElementClasses = new[] { "page-item", "page-link", (Convert.ToString(ViewBag.page) == Url.Action("page") ? "active" : "") },
                LinkToPreviousPageFormat = "Önceki",
                LinkToNextPageFormat = "Sonraki",
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                MaximumPageNumbersToDisplay = 5,
            })
</div>