
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br /><br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Spor Açıklaması</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Yazılım</td>
        <td>Yazılım Açıklaması</td>
        <td>Aktif</td>
    </tr>
</table>

